<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/jee
        http://www.springframework.org/schema/jee/spring-jee.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

    <bean id="userManager" class="by.epamlab.logic.UserManager">
        <constructor-arg name="userDao" ref="userDao"/>
    </bean>

    <bean id="taskManager" class="by.epamlab.logic.TaskManager">
        <constructor-arg name="taskDao" ref="taskDao"/>
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager"/>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <jee:jndi-lookup id="dataSource"
                     jndi-name="jdbc/userDB"
                     resource-ref="true"
                     expected-type="javax.sql.DataSource"/>
    <bean id="jdbcTemplate"
          class="org.springframework.jdbc.core.JdbcTemplate">
        <constructor-arg ref="dataSource"/>
    </bean>

    <bean id="userDao"
          class="by.epamlab.dao.db.DBUser">
        <constructor-arg name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>

    <bean id="taskDao"
          class="by.epamlab.dao.db.DBTask">
        <constructor-arg name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>


</beans>


